<div style="text-align: center" id="popupWin" class="modalwin">
  <br>
  <br>
  <br>
  <form>
    <input  id = "Rlogin" class = "input" type="text" pInputText  placeholder="email"/>
    <input  id = "Rpassword" class = "input" type="password" pInputText placeholder="password"/><br><br>
    <button id = "Registrate" label="Регистрация" pButton type="button" class="ui-button-warning"></button>
    <p id = "message"> </p>
  </form>
</div>
<form>
  <button id = "registration" label="Регистрация" pButton type="button" class="ui-button-warning" (click) = "showModalWin()"></button>
</form>
